# Complied source #
###################

*.exe
*.hi
*.o
*.pdf

# LaTeX auxiliary files #
#########################

*.aux
*.idx
*.ilg
*.ind
*.log
*.nlo
*.nls
*.out
*.ptc
*.ptx
*.gz

# Miscellaneous files #
#######################

*~
*#